@import "libs/bootstrap/css/bootstrap.min.css";
@import "fonts/FontAwesome/css/font-awesome.min.css";
@import "fonts/PTSans/PTS55F_stylesheet.css";
@import "fonts/iconmoon/iconmoon.css";
.readonly {
  cursor: not-allowed;
}
.btn {
  border-radius: 0;
}
.form-control,
.input-group .form-control {
  border-radius: 0;
}
.navbar {
  min-height: 40px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
html {
  height: 100%;
}
html body {
  font-family: 'PTSansRegular';
  height: 100%;
}
html body > header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}
html body > header .search-bar {
  margin: 5px 40px 2px;
  float: right;
}
html body > header nav.navbar {
  height: 50px;
  background: #0e94d2;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  /*
          img.navbar-brand:hover {
            background: #194272;
            -webkit-transition: all 2s ease-out;
            -ms-transition: all 2s ease-out;
            -o-transition: all 2s ease-out;
            transition: all 2s ease-out;
          }
          .navbar-left > li {
            border-right: 1px solid #333333;
          }
          .navbar-right > li {
            border-left: 1px solid #333333;
          }
          nav > li > a:focus, .nav > li > a:hover {
            background: none;
          }
          ul.navbar-right img {
            vertical-align: top;
            margin: -15px -35px 0 20px
          }*/
}
html body > header nav.navbar div.collapse {
  background: gray;
}
html body > header nav.navbar ul.nav li > a {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
html body > header nav.navbar ul.nav li.active a {
  padding-bottom: 11px;
}
html body > header nav.navbar a.navbar-brand {
  color: white;
  background: #82c841;
}
html body > header nav.navbar button.navbar-toggle {
  width: 40px;
  height: 34px;
  color: white;
  border: 1px solid white;
}
html body > header nav.navbar form input {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  box-shadow: none;
  padding-right: 40px;
}
html body > header nav.navbar form input::placeholder {
  color: white;
}
html body > header nav.navbar form input,
html body > header nav.navbar form select,
html body > header nav.navbar form textarea {
  color: white;
}
html body > header nav.navbar form button {
  background: none;
  color: white;
  border: 0;
  height: 34px;
  position: absolute;
  top: 0px;
  right: 0px;
}
html body ul.area {
  list-style: none;
  display: inline-flex;
  float: right;
}
html body ul.area li {
  margin-left: 40px;
}
html body > section {
  margin-top: 50px;
  margin-bottom: 36px;
}
html body > section a:link,
html body > section a:hover,
html body > section a:visited {
  color: #283c46;
}
html body > section li {
  margin-left: 1em;
}
html body > section div.icons {
  margin-top: 20px;
}
html body > section div.icons > span {
  margin-left: 0.1em;
}
html body > section div.icons > span:before {
  font-size: 1.8em;
}
html body > section table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
html body > section table thead {
  background: #eeeeee;
}
html body > section table th.actions {
  width: 180px;
}
html body > section table th:after {
  font-family: 'FontAwesome';
  content: "\f0dc";
  font-size: smaller;
  font-weight: normal;
  margin-left: 2px;
}
html body > section table th.header {
  cursor: pointer;
  border-bottom: 0;
}
html body > section table tbody td.thumb {
  vertical-align: middle;
}
html body > section table tbody td.thumb img {
  vertical-align: middle;
  max-height: 40px;
  max-width: 40px;
}
html body > section table tbody td.thumb img:hover {
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
html body > section table tbody tr:nth-child(even) {
  background: rgba(130, 200, 65, 0.1);
}
html body > section table tbody tr:hover {
  background: rgba(14, 150, 210, 0.1);
}
html body > section table tbody td li a.fa:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
html body > section table tbody td.file:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f15b";
}
html body > section table tbody td.notes {
  vertical-align: middle;
}
html body > section table tbody td.notes img {
  vertical-align: middle;
  max-height: 38px;
  max-width: 38px;
}
html body > section table tbody ul {
  list-style: none;
  height: 0px;
}
html body > section table tbody ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}
html body ul.nav-tabs {
  border-bottom: none;
}
html body ul.nav-tabs li {
  color: white;
}
html body ul.nav-tabs li a:link,
html body ul.nav-tabs li a:hover,
html body ul.nav-tabs li a:visited {
  color: white;
  border-radius: 0;
}
html body ul.nav-tabs li.active {
  color: white;
}
html body ul.nav-tabs li.active a:link,
html body ul.nav-tabs li.active a:hover,
html body ul.nav-tabs li.active a:visited {
  color: white;
  background: #506478;
}
html body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
  color: white;
  background: #0082c8;
}
html body footer div {
  margin: 10px 40px 0 10px;
  vertical-align: middle;
}
html body footer div i.love {
  color: #d1dc29;
}
span.thumb img {
  vertical-align: middle;
  max-height: 32px;
  max-width: 32px;
  margin: -8px 10px 0 0;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus {
  color: white;
  background: #868686;
  border: none;
}
.nav-tabs > li > a:hover {
  background: #00aab4;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: white;
  background: #868686;
  border: none;
}
.lighter {
  color: #666666;
}
h3 {
  color: #283c46;
}
@media (min-width: 768px) {
  div.collapse {
    background: none !important;
  }
  div.collapse ul.nav li.active {
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  }
  .navbar-form .form-control {
    width: 310px;
  }
}
.navbar-form {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  float: right;
  top: 8px;
  right: 20px;
}
.btn-default:hover {
  color: white;
  background: none;
  border: none;
}
