@import "libs/bootstrap/css/bootstrap.min.css";
@import "fonts/FontAwesome/css/font-awesome.min.css";
@import "fonts/PTSans/PTS55F_stylesheet.css";
.btn {
  border-radius: 0;
}
.form-control,
.input-group .form-control {
  border-radius: 0;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
html {
  height: 100%;
}
html body {
  font-family: 'PTSansRegular', serif;
  height: 100%;
}
html body > header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}
html body > header nav.navbar {
  height: 50px;
  background: #0e94d2;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
html body > header nav.navbar div.collapse {
  background: gray;
}
html body > header nav.navbar ul.nav li > a {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
html body > header nav.navbar ul.nav li.active a {
  padding-bottom: 11px;
}
html body > header nav.navbar a.navbar-brand {
  color: white;
  background: #82c841;
}
html body > header nav.navbar form input {
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  box-shadow: none;
  padding-right: 40px;
}
html body > header nav.navbar form input::placeholder {
  color: white;
}
html body > header nav.navbar form input,
html body > header nav.navbar form select,
html body > header nav.navbar form textarea {
  color: white;
}
html body > header nav.navbar form button {
  background: none;
  color: white;
  border: 0;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
}
html body ul.area {
  list-style: none;
  display: inline-flex;
  float: right;
}
html body ul.area li {
  margin-left: 40px;
}
html body > section {
  margin-top: 50px;
  margin-bottom: 36px;
}
html body > section a:link,
html body > section a:hover,
html body > section a:visited {
  color: #283c46;
}
html body > section table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
html body > section table thead {
  background: #eeeeee;
}
html body > section table thead th.header {
  cursor: pointer;
  border-bottom: 0;
}
html body > section table thead th.number {
  text-align: center;
}
html body > section table thead th:after {
  font-family: 'FontAwesome';
  content: "\f0dc";
  font-size: smaller;
  font-weight: normal;
  margin-left: 5px;
}
html body > section table tbody td {
  max-width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html body > section table tbody tr:nth-child(even) {
  background: rgba(130, 200, 65, 0.1);
}
html body > section table tbody tr:hover {
  background: rgba(14, 150, 210, 0.1);
}
html body > section table tbody td.number {
  text-align: right;
  margin-right: 20px;
}
html body > section table tbody td:last-child {
  padding-right: 20px;
}
html body > section svg:not(:root) {
  overflow: unset !important;
}
html body > section svg text.ct-label {
  opacity: 0;
}
html body > section svg line.ct-point {
  cursor: pointer;
}
html body > section svg line.ct-point:hover + .ct-label {
  opacity: 1;
  font-size: 1.2rem;
}
html body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
  color: white;
  background: #0082c8;
}
html body footer div {
  margin: 10px 10px 0 10px;
  vertical-align: middle;
}
html body footer div i.love {
  color: #d1dc29;
}
.lighter {
  color: #666666;
}
.right {
  text-align: right;
}
.parent {
  display: flex;
}
.left,
.right {
  flex: 1;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.avg:before {
  margin-right: 5px;
  content: "\d8";
}
.ms:after {
  margin-left: 5px;
  content: "ms";
}
.navbar-form {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  float: right;
  top: 8px;
  right: 20px;
}
.btn-default:hover {
  color: white;
  background: none;
  border: none;
}
@media (min-width: 768px) {
  div.collapse {
    background: none !important;
  }
  div.collapse ul.nav li.active {
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  }
  .navbar-form .form-control {
    width: 310px;
  }
}
/*# sourceMappingURL=styles.css.map */